<div class="cv-root">
  <div class="content">
    <header class="content-hd">
      <section class="title">
        <div class="name">
          <h1>张永昌<small>Yongchang Zhang</small></h1>
        </div>
        <div class="job">
          <h2>Web前端开发工程师<small> / 扬州</small></h2>
        </div>
      </section>
      <section class="info">
        <h2>男 / 1998.01</h2>
        <h3>本科 / 2020年毕业 · 2年工作经验</h3>
        <h3>武汉工程大学 · 软件工程（英语+软件工程）</h3>
      </section>
      <section class="contact">
        <h2>
          <a
            ><span class="contact-link">z249887404</span
            ><i nz-icon nzType="wechat" nzTheme="outline"></i
          ></a>
        </h2>

        <h2>
          <a href="tel:17688905169" target="_blank"
            ><span class="contact-link">17688905169</span
            ><i nz-icon nzType="phone" nzTheme="outline"></i
          ></a>
        </h2>
        <h2>
          <a href="mailto:yongchang.zhang@foxmail.com" target="_blank"
            ><span class="contact-link">yongchang.zhang@foxmail.com</span
            ><i nz-icon nzType="mail" nzTheme="outline"></i
          ></a>
        </h2>
      </section>
    </header>
    <div class="content-bd">
      <div class="content-left">
        <section id="experience">
          <header class="section-hd">
            <span class="section-title-l"></span>
            <h2 class="section-title">工作经验</h2>
            <span class="section-title-r"></span>
          </header>
          <div class="section-bd">
            <div class="item item-main">
              <header class="item-hd">
                <span class="item-time">2021.04 ~ 至今</span>
                <a
                  class="btn item-more"
                  href="https://www.farben.com.cn/"
                  target="_blank"
                  title="工作经历"
                  >工作</a
                >
                <h3 class="item-name">深圳市法本信息技术股份有限公司</h3>
              </header>
            </div>
            <div class="item item-stage">
              <header class="item-hd">
                <h3 class="item-name">场外交易</h3>
                <span class="item-more">2021.3 - 至今</span>
              </header>
            </div>
            <div class="item">
              <header class="item-hd">
                <h3 class="item-name">
                  <i class="iconfont icon-dot"></i> 一级利率债交易模块
                </h3>
              </header>
              <div class="item-bd">
                <p class="section-content">
                  <strong>前端研发负责人</strong>
                  负责整个利率债项目前端设计及研发。
                </p>
                <p class="section-content">
                  前端框架使用<em>Angular</em>，基于<em>AntDesign</em>的组件库<em>NG-ZORRO</em>进行页面构建,使用<em>RxJS</em>和<em>HttpClient</em>进行后台交互。
                </p>
                <p class="section-content">
                  由于业务逻辑复杂，使用RxJS进行异步逻辑处理，如请求并行串行和取消请求等情况.RxJS的操作符和<em>TypeScript</em>的类型定义，显著提高了代码可读性。
                  开发了根据接口文档生成TS
                  Interface定义和表格配置和常见代码段工具，提供给项目成员使用，提高了开发效率。
                </p>
              </div>
            </div>
            <div class="item">
              <header class="item-hd">
                <h3 class="item-name">
                  <i class="iconfont icon-dot"></i> 非标资产交易投资
                </h3>
              </header>
              <div class="item-bd">
                <p class="section-content">
                  <strong>主要前端开发</strong>
                  参与团队前端公共基础的建设与规划。
                </p>
                <p class="section-content">
                  通过封装NG-ZORRO下拉组件，开发了开箱即用的基金经理选择，用户选择等常用组件。使用<em
                    >Angular CDK</em
                  >，开发了树形选择组件，用于下拉选择，并为弹窗组件添加了拖动和改变大小功能。使用RxJS和<em>Directive</em>开发了常用的点击和输入防抖指令。封装一系列管道<em>Pipe</em>用于数据格式化、数据转换等。
                </p>
                <p class="section-content">
                  开发了表格表头设置组件，支持设置显示的列，通过拖拽修改列的顺序，以及是否固定列，显著提高了用户浏览表格数据的效率，获得了业务老师和需求的认可。
                </p>
              </div>
            </div>

            <br />

            <div class="item item-main">
              <header class="item-hd">
                <span class="item-time">2021.07 ~ 2022.1</span>
                <a
                  class="btn item-more"
                  href="http://www.chinasie.com/"
                  target="_blank"
                  title="工作经历"
                  >工作</a
                >
                <h3 class="item-name">广州赛意信息科技股份有限公司</h3>
              </header>
            </div>

            <div class="item item-stage">
              <header class="item-hd">
                <h3 class="item-name">信息安全</h3>
                <span class="item-more">2021.7 - 2022.1</span>
              </header>
            </div>

            <div class="item">
              <header class="item-hd">
                <h3 class="item-name">
                  <i class="iconfont icon-dot"></i> 员工操作风险平台
                </h3>
              </header>
              <div class="item-bd">
                <p class="section-content">
                  <strong>主要前端开发</strong>
                  参与团队前端部分开发。
                </p>
                <p class="section-content">
                  以<em>Vue.js</em>为框架，使用<em>ElementUI</em>和自研组件库进行页面开发，使用<em>Axios</em>进行后台交互，使用<em>echarts</em>雷达图，折线图等图标对员工操作记录和各项风险进行展示与分析，封装了部分通用图表，部分页面使用<em>Vuex</em>进行状态管理。
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="content-right">
        <section id="skill">
          <header class="section-hd">
            <span class="section-title-l"></span>
            <h2 class="section-title">专业能力</h2>
            <span class="section-title-r"></span>
          </header>
          <div class="section-bd">
            <ul class="section-list">
              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  熟练掌握Web前端开发基本技能，熟悉<strong>HTML</strong>、<strong>CSS</strong>、<strong>CSS预处理器</strong>、<strong>页面布局</strong>、<strong>响应式布局</strong>等。重视<strong>页面交互</strong>与<strong>用户体验</strong>，不止步于能用就行。
                </p>
              </li>

              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  熟练掌握
                  <strong>Javascript基础，了解闭包、原型链、
                  事件循环，js面向对象，模块化</strong>等。熟练使用ES6等新特性和<em>Lodash</em>等库，对设计模式有一定的了解，追求代码<strong
                    >高质量</strong
                  ><strong>可维护性</strong>。
                </p>
              </li>

              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  熟练使用<em>Angular</em>，熟练使用表单、表单检验、指令、管道、路由、路由守卫等，对Angular的依赖注入和变更检测机制有一定的了解。熟练使用<em>NG-ZORRO</em>组件库和<em>Ionic</em>组件库，能使用Angular组件开发包<em>CDK</em>开发新的组件，使用指令增强现有组件。
                </p>
              </li>

              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  对响应式编程有一定的了解，熟练使用RxJS处理异步和DOM事件，使用过部分操作符<em>Operator</em>和<em>Subject</em>，
                  能使用RxJS处理复杂的Http调用逻辑和业务逻辑。
                </p>
              </li>

              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  熟练使用<em>Vue.js</em>全家桶
                </p>
              </li>

              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  了解<em>Node.js</em>，能通过<em>Koa</em>，<em>Express</em>和<em>Nest</em>，
                  结合<em>Sequelize</em>等ORM连接数据库搭建后台。对Java后台有一定的了解，使用过<em
                    >Spring Boot</em
                  >和<em>Spring MVC</em>
                </p>
              </li>
              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  熟练使用<strong>Git</strong>进行版本控制和代码托管、<strong>Markdown</strong>进行文档编写，了解项目常规开发流程、<strong>开发调试</strong>技巧、<strong>发布部署</strong>步骤。
                </p>
              </li>
              <li>
                <p class="section-content">
                  <i class="iconfont icon-dot"></i>
                  时刻保持<strong>好奇心</strong>，具有一定的<strong>创新创造</strong>精神，持续关注业内前沿技术。工作上<strong
                    >积极执行</strong
                  ><strong>有责任心</strong
                  >，具有良好的<strong>沟通合作</strong>能力、<strong>分析解决问题</strong>能力以及较强的<strong>学习能力</strong>。
                </p>
              </li>
            </ul>
          </div>
        </section>

        <section id="personal">
          <header class="section-hd">
            <span class="section-title-l"></span>
            <h2 class="section-title">其他</h2>
            <span class="section-title-r"></span>
          </header>
          <div class="section-bd">
            <div class="item">
              <div class="item-bd">
                <p class="section-content">
                  良好的英语基础，获得了大学生英语六级和英语专业八级证书，能无障碍阅读英文文档。
                </p>
              </div>
            </div>
            <div class="item">
              <div class="item-bd">
                <p class="section-content">
                  适应能力较强，能快速上手新的技术。
                </p>
              </div>
            </div>
            <div class="item">
              <div class="item-bd">
                <p class="section-content">乐观积极，能和同事融洽、愉快相处</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
